In [1]:
import pandas as pd
import numpy as np
import psycopg2
import re
import datetime
from datetime import timedelta
import warnings

warnings.filterwarnings('ignore')
pd.set_option('display.max_columns',100)

In [5]:
def life_connection(script):
    conn = psycopg2.connect(host = '178.128.35.73',
                        database = 'liberty_life',
                        user = 'datauser',
                        password = 'libEkh12@',
                        port = '5432'
                        )
    cur = conn.cursor()
    received_script = script
    query = pd.read_sql_query(received_script, conn) 
    return query

In [14]:
agent_query = '''SELECT
        DATE(sales_agent.created_at) AS created_at,
        sales_agent.type_of_agent,
        sales_agent.email,
        CONCAT(sales_agent.first_name, ' ', sales_agent.last_name) AS agent_name,
        sales_agent.phone_number,
        sales_agent.agent_code
    FROM 
        life_insurance_salesagent AS sales_agent
    WHERE 
        sales_agent.type_of_agent = 'LIBERTY_LIFE_AGENT';
    '''
agents_details  = life_connection(agent_query)

In [15]:
agents_details

,created_at,type_of_agent,email,agent_name,phone_number,agent_code
0,2024-09-24,LIBERTY_LIFE_AGENT,test@libertylife.com,Vera Okoli,09114225032,64750
1,2024-10-07,LIBERTY_LIFE_AGENT,monday.rectitude@gmail.com,Monday Muhammed,09066664261,66013
2,2024-10-07,LIBERTY_LIFE_AGENT,oloyedesamuel13@gmail.com,Oloyede Samuel Ebiniyi,08030990311,62015
3,2024-10-07,LIBERTY_LIFE_AGENT,tonyugochukwu8@gmail.com,NDUBUISI UGOCHUKWU ANTHONY,09026890047,95395
4,2024-10-07,LIBERTY_LIFE_AGENT,ufombapromise374@gmail.com,PROMISE CHIGOZIE UFOMBA,09061137910,098106
5,2024-10-07,LIBERTY_LIFE_AGENT,omolajuidowu@gmail.com,PAUL ABIOLA OMOLAJU,08066257532,05097
6,2024-10-07,LIBERTY_LIFE_AGENT,vicnwachi@gmail.com,VICTORIA CHIWENDU OGOLO,08137844810,110125
7,2024-10-07,LIBERTY_LIFE_AGENT,horjuotimme18@gmail.com,SAADAT DAMILOLA ALIU,09079699261,40068
8,2024-10-07,LIBERTY_LIFE_AGENT,orevaumudi@gmail.com,OREVAOGHENE UMUDI,08064116618,29340
9,2024-10-07,LIBERTY_LIFE_AGENT,okojirichardisaac@gmail.com,RICHARD ISAAC OKOJI,07064764805,271910
10,2024-10-07,LIBERTY_LIFE_AGENT,thomasibrahimyemilo95@gmail.com,IBRAHIM THOMAS,07068541659,65816
11,2024-10-07,LIBERTY_LIFE_AGENT,ogedengbejosepholusola@gmail.com,JOSEPH OLUSOLA OGEDENGBE,08130584247,995710
12,2024-10-07,LIBERTY_LIFE_AGENT,ewedairoshakiru1759@gmail.com,SHAKIRU AJIBOLA EWEDAIRO,09038773831,103536
13,2024-10-07,LIBERTY_LIFE_AGENT,bunmiglo32@gmail.com,BUNMI BLESSING BABATUNDE,07039581080,24940
14,2024-10-07,LIBERTY_LIFE_AGENT,jacobejak@gmail.com,JACOB OGHENEOVO EJAKPOMEWHE,08067839425,105313
15,2024-10-07,LIBERTY_LIFE_AGENT,jacobhannah36@gmail.com,JACOB HANNAH,09130608416,76738
16,2024-10-07,LIBERTY_LIFE_AGENT,iwaeniseun680@gmail.com,SEUN TOPE IWAENI,08101149175,041108
17,2024-10-07,LIBERTY_LIFE_AGENT,kingsleyededho34@gmail.com,KINGSLEY AZIAKPONO EDEDHO,08066241353,35533
18,2024-10-07,LIBERTY_LIFE_AGENT,akinadeolajumokeelizabeth@gmail.com,OLAJUMOKE ELIZABETH AKINADE,08060672229,51619
19,2024-10-07,LIBERTY_LIFE_AGENT,muhammedgadafi99@gmail.com,GADAFFI MUHAMMED YAWALE,08082215300,5109110
20,2024-10-07,LIBERTY_LIFE_AGENT,ukaibemercy@gmail.com,EBERE MERCY UKAIBE,08163934558,05327
21,2024-10-07,LIBERTY_LIFE_AGENT,kazeemolarewaju6@gmail.com,KAZEEM OLANREWAJU YINUSA,08108253630,86482
22,2024-10-07,LIBERTY_LIFE_AGENT,stephenaugustine2020@gmail.com,AUGUSTINE STEPHEN,08129050920,51457
23,2024-10-07,LIBERTY_LIFE_AGENT,adewunmiokegbenro2@gmail.com,ADEWUNMI OKEGBENRO,09084416199,7108102
24,2024-10-07,LIBERTY_LIFE_AGENT,zainabeniola222@gmail.com,ZAINAB ENIOLA NODIRU,09026335509,311070
25,2024-10-07,LIBERTY_LIFE_AGENT,fadetayo22@gmail.com,FLORENCE ADETAYO ADEREMI,08182929004,74477

In [40]:
sales_query = '''
SELECT 
    DATE(created_at) AS date,
    plan_type,
    insurance_duration,
    amount,
    status,
    channel,
    agent_phone_number
FROM 
    life_insurance_healthplan 
WHERE 
    status = 'SUCCESS'
AND 
    channel != 'SEEDS_BORROWER_CHANNEL'
AND 
    agent_phone_number IS NOT NULL
'''
sales_details = life_connection(sales_query)

In [58]:
sales_details

,date,plan_type,insurance_duration,amount,status,channel,agent_phone_number
0,2024-08-16,INDIVIDUAL,2,6000.0,SUCCESS,USSD,08107533561
1,2024-08-16,INDIVIDUAL,3,9000.0,SUCCESS,USSD,08063803248
2,2024-10-13,INDIVIDUAL,1,3000.0,SUCCESS,USSD,07068541659
3,2024-10-02,INDIVIDUAL,1,3000.0,SUCCESS,USSD,08133094696
4,2024-09-14,INDIVIDUAL,1,3000.0,SUCCESS,USSD,08177718963
5,2024-10-13,INDIVIDUAL,1,3000.0,SUCCESS,USSD,09026335509
6,2024-10-14,INDIVIDUAL,12,36000.0,SUCCESS,SALES_AGENT,08101149175
7,2024-09-26,INDIVIDUAL,1,3000.0,SUCCESS,USSD,08120292089
8,2024-09-30,INDIVIDUAL,1,3000.0,SUCCESS,USSD,08133094696
9,2024-09-26,INDIVIDUAL,1,3000.0,SUCCESS,USSD,08035388499
10,2024-09-27,INDIVIDUAL,1,3000.0,SUCCESS,USSD,08094601017
11,2024-10-15,INDIVIDUAL,12,36000.0,SUCCESS,USSD,07039581080
12,2024-09-28,INDIVIDUAL,6,18000.0,SUCCESS,USSD,08120292089
13,2024-10-15,INDIVIDUAL,1,3000.0,SUCCESS,USSD,09026335509
14,2024-10-07,INDIVIDUAL,1,3000.0,SUCCESS,USSD,08142098076
15,2024-10-15,INDIVIDUAL,1,3000.0,SUCCESS,USSD,07064764805
16,2024-10-11,INDIVIDUAL,1,3000.0,SUCCESS,USSD,08037899384
17,2024-10-14,INDIVIDUAL,6,18000.0,SUCCESS,USSD,09038773831
18,2024-10-16,INDIVIDUAL,3,9000.0,SUCCESS,USSD,09038773831
19,2024-10-07,INDIVIDUAL,1,3000.0,SUCCESS,USSD,08094601017
20,2024-10-08,INDIVIDUAL,1,3000.0,SUCCESS,USSD,07039581080
21,2024-10-08,INDIVIDUAL,3,9000.0,SUCCESS,USSD,09084416199
22,2024-10-15,INDIVIDUAL,1,3000.0,SUCCESS,USSD,09026335509
23,2024-10-09,INDIVIDUAL,1,3000.0,SUCCESS,USSD,08108253630
24,2024-10-11,INDIVIDUAL,1,3000.0,SUCCESS,USSD,09026335509
25,2024-10-11,FAMILY,1,2700.0,SUCCESS,USSD,09026335509
26,2024-10-10,INDIVIDUAL,1,3000.0,SUCCESS,USSD,09084416199
27,2024-10-11,INDIVIDUAL,1,3000.0,SUCCESS,USSD,09061137910
28,2024-10-09,INDIVIDUAL,1,3000.0,SUCCESS,USSD,08031525544
29,2024-10-08,INDIVIDUAL,1,3000.0,SUCCESS,USSD,09084416199
30,2024-10-08,INDIVIDUAL,1,3000.0,SUCCESS,USSD,08108253630

In [46]:
sales_per_agent = sales_per_agent = sales_details.groupby('agent_phone_number').agg({'amount': 'sum'})

In [47]:
sales_per_agent

                     amount
agent_phone_number
07039581080         39000.0
07064764805          3000.0
07068541659          3000.0
08031525544          3000.0
08035388499          3000.0
08037899384          3000.0
08063803248          9000.0
08094601017          6000.0
08101149175         36000.0
08107533561          6000.0
08108253630          6000.0
08120292089         21000.0
08133094696          6000.0
08142098076          3000.0
08177718963          3000.0
09026335509         14700.0
09038773831         27000.0
09061137910          3000.0
09084416199         15000.0

In [48]:
agents_sales = pd.merge(sales_per_agent, agents_details, how = "left", left_on = "agent_phone_number", right_on = "phone_number")

In [56]:
agents_sales

,amount,created_at,type_of_agent,email,agent_name,phone_number,agent_code
0,39000.0,2024-10-07,LIBERTY_LIFE_AGENT,bunmiglo32@gmail.com,BUNMI BLESSING BABATUNDE,07039581080,24940
1,3000.0,2024-10-07,LIBERTY_LIFE_AGENT,okojirichardisaac@gmail.com,RICHARD ISAAC OKOJI,07064764805,271910
2,3000.0,2024-10-07,LIBERTY_LIFE_AGENT,thomasibrahimyemilo95@gmail.com,IBRAHIM THOMAS,07068541659,65816
3,3000.0,NaN,NaN,NaN,NaN,NaN,NaN
4,3000.0,NaN,NaN,NaN,NaN,NaN,NaN
5,3000.0,NaN,NaN,NaN,NaN,NaN,NaN
6,9000.0,NaN,NaN,NaN,NaN,NaN,NaN
7,6000.0,NaN,NaN,NaN,NaN,NaN,NaN
8,36000.0,2024-10-07,LIBERTY_LIFE_AGENT,iwaeniseun680@gmail.com,SEUN TOPE IWAENI,08101149175,041108
9,6000.0,NaN,NaN,NaN,NaN,NaN,NaN
10,6000.0,2024-10-07,LIBERTY_LIFE_AGENT,kazeemolarewaju6@gmail.com,KAZEEM OLANREWAJU YINUSA,08108253630,86482
11,21000.0,NaN,NaN,NaN,NaN,NaN,NaN
12,6000.0,NaN,NaN,NaN,NaN,NaN,NaN
13,3000.0,NaN,NaN,NaN,NaN,NaN,NaN
14,3000.0,NaN,NaN,NaN,NaN,NaN,NaN
15,14700.0,2024-10-07,LIBERTY_LIFE_AGENT,zainabeniola222@gmail.com,ZAINAB ENIOLA NODIRU,09026335509,311070
16,27000.0,2024-10-07,LIBERTY_LIFE_AGENT,ewedairoshakiru1759@gmail.com,SHAKIRU AJIBOLA EWEDAIRO,09038773831,103536
17,3000.0,2024-10-07,LIBERTY_LIFE_AGENT,ufombapromise374@gmail.com,PROMISE CHIGOZIE UFOMBA,09061137910,098106
18,15000.0,2024-10-07,LIBERTY_LIFE_AGENT,adewunmiokegbenro2@gmail.com,ADEWUNMI OKEGBENRO,09084416199,7108102

In [57]:
actual_agents = agents_sales[agents_sales['type_of_agent'].notnull()]
actual_agents

,amount,created_at,type_of_agent,email,agent_name,phone_number,agent_code
0,39000.0,2024-10-07,LIBERTY_LIFE_AGENT,bunmiglo32@gmail.com,BUNMI BLESSING BABATUNDE,07039581080,24940
1,3000.0,2024-10-07,LIBERTY_LIFE_AGENT,okojirichardisaac@gmail.com,RICHARD ISAAC OKOJI,07064764805,271910
2,3000.0,2024-10-07,LIBERTY_LIFE_AGENT,thomasibrahimyemilo95@gmail.com,IBRAHIM THOMAS,07068541659,65816
8,36000.0,2024-10-07,LIBERTY_LIFE_AGENT,iwaeniseun680@gmail.com,SEUN TOPE IWAENI,08101149175,041108
10,6000.0,2024-10-07,LIBERTY_LIFE_AGENT,kazeemolarewaju6@gmail.com,KAZEEM OLANREWAJU YINUSA,08108253630,86482
15,14700.0,2024-10-07,LIBERTY_LIFE_AGENT,zainabeniola222@gmail.com,ZAINAB ENIOLA NODIRU,09026335509,311070
16,27000.0,2024-10-07,LIBERTY_LIFE_AGENT,ewedairoshakiru1759@gmail.com,SHAKIRU AJIBOLA EWEDAIRO,09038773831,103536
17,3000.0,2024-10-07,LIBERTY_LIFE_AGENT,ufombapromise374@gmail.com,PROMISE CHIGOZIE UFOMBA,09061137910,098106
18,15000.0,2024-10-07,LIBERTY_LIFE_AGENT,adewunmiokegbenro2@gmail.com,ADEWUNMI OKEGBENRO,09084416199,7108102

In [55]:
actual_agents.to_csv('Agents With Sales.csv')